# API base URL
API_BASE_URL_PROD=https://www.facturacion.oncoclinicbolivia.com/api/v1
API_BASE_URL_LOCAL=http://localhost:4000/api/v1

# Credenciales del cliente
CLIENTE_USUARIO=admin
CLIENTE_PASSWORD=admin123

# Selección de clientes (URLs)
RUN_CLIENTE_LOCAL=true
RUN_CLIENTE_PROD=false

# Parámetros de venta
VENTAS_CANTIDAD=10
VENTA_PRODUCTO_MIN=31
VENTA_PRODUCTO_MAX=33
CLIENTE_ID=1
SUCURSAL_ID=0
PUNTO_VENTA_ID=4
COD_ACT_ECON=6201000
COD_MET_PAGO=1
COD_MONEDA=1

# Ejecución condicional 
RUN_VENTAS=false
VENTAS_FACTURA_DIRECTA=false
VENTAS_TIPO=normal # normal|hospital
VENTAS_CONTINGENCIA=true

# Notas crédito/débito
RUN_NOTAS=true
NOTAS_CANTIDAD=2
NOTAS_FACTURA_INICIO=59440
NOTAS_FACTURA_FIN=59458
NOTAS_PRODUCTO_MIN=31
NOTAS_PRODUCTO_MAX=33
NOTAS_ANULAR=true
NOTAS_REVERTIR=true

# Contingencia
FECHA_CONT_INI=2025-10-07T13:00:01
FECHA_CONT_FIN=2025-10-07T13:59:59
EVENTO_SIN_ID=138
CAFC_ID=4

# Datos médico (ventas hospital)
MEDICO_ESPECIALIDAD=Cardiología
MEDICO_ESPECIALIDAD_DETALLE=Procedimiento de cateterismo
MEDICO_NRO_QUIROFANO=12
MEDICO_NOMBRE=Juan Pérez
MEDICO_NIT=6144520017
MEDICO_MATRICULA=987654
PACIENTE_NOMBRE=rafael gonzales